@import '../../../styles/variables.scss';

.card {
    margin: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
    -webkit-box-shadow: 3px 5px 0px -1px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 3px 5px 0px -1px rgba(0, 0, 0, 0.63);
    box-shadow: 3px 5px 0px -1px rgba(0, 0, 0, 0.63);

    &__image-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image::selection {
        background-color: $gradient-second;
    }

    &__name-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-family: 'Majorant-Bold';
    }

    &__name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &::selection {
            background-color: $gradient-second;
            color: white;
        }
    }

    &__artists {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: 'Majorant-Regular';

        &::selection {
            background-color: $gradient-second;
            color: white;
        }
    }

    &__like-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__like-icon {
        width: 23px;
        height: 23px;

        &:hover {
            cursor: pointer;
            fill: $gradient-second;
        }

        &--active {
            fill: $gradient-second;

            &:hover {
                fill: black;
            }
        }
    }

    &__songs-count {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        font-family: 'Majorant-Regular';
    }
}
