@import '../../../styles/variables.scss';

@mixin icons-buttons {
    width: 30px;
    height: 30px;
    fill: white;
    cursor: pointer;

    &:hover {
        fill: $gradient-second;
    }
}

@mixin user-name {
    font-family: 'Majorant-Regular';
    color: white;
    user-select: none;
    position: relative;

    &::after {
        background-color: $gradient-second;
        content: '';
        width: 100%;
        height: 20%;
        position: absolute;
        bottom: -7px;
        left: 0;
    }
}

@mixin logout {
}

.main-header {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    fill: white;
    background-color: black;

    &__logo {
        width: 40px;
        height: 40px;
    }

    &__user-name {
        @include user-name;
    }

    &__menu-bar {
        @include icons-buttons;
    }

    &__logout {
        display: none;
    }
}

.menu-column {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    animation: open-menu 0.5s linear forwards;
    background: black;

    &__close-menu {
        @include icons-buttons;

        position: relative;
        top: 25px;
        right: -200px;
    }

    &__logout {
        @include icons-buttons;

        position: relative;
        top: 25px;
        right: -125px;
    }

    &__user-name {
        @include user-name;

        position: relative;
        top: 100px;
        right: -40px;

        &::after {
            width: 71%;
        }
    }

    &__nav {

        position: relative;
        top: 150px;
        right: -20px;
    }
}

@keyframes open-menu {
    from {
        width: 0%;
    }
    to {
        width: 250px;
    }
}

@media (min-width: 700px) {
    .main-header {
        justify-content: space-around;

        &__menu-bar {
            display: none;
        }
        &__logout {
            width: 30px;
            height: 30px;
            display: inline;
            cursor: pointer;

            &:hover {
                fill: $gradient-second;
            }
        }
    }

    .menu-column {
        display: none;
    }
}
