$gradient-second: #3fa468;

.main-header {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    fill: white;
    background-color: black;

    &__logo {
        width: 40px;
        height: 40px;
    }

    &__user-name {
        font-family: 'Majorant-Regular';
        color: white;
        user-select: none;
        position: relative;

        &::after {
            background-color: $gradient-second;
            content: '';
            width: 100%;
            height: 20%;
            position: absolute;
            bottom: -7px;
            left: 0;
        }
    }

    &__logout {
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:hover {
            fill: $gradient-second;
        }
    }
}