@import '../../../styles/variables.scss';

.menu-nav {
    display: none;
}

.menu-column-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 700px) {
    .menu-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}